@charset 'utf-8';
@import  'sandal/core', 'sandal/core/reset';
@import  'core/mixins', 'core/functions', 'core/vars';

img {
	display: block;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
  background-color: $bg;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

// 轮播切换
.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	background: $bg;
}

// 速度
.speed {
	position: absolute;
	top: 50%;
	left: 10%;
	margin-top: -90px;
	color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 1;

  span {
  	font-size: 100px;
  	display: block;
  }
}
