@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

.hud {
	width: $hudW;
	height: $hudH;
	margin: 0 auto;
	
	.home-screen {
		background: $bg;
	}

	.boot-animation {
		video {
			height: 500px;
		}
	}
}

// hud
$hudBottom: heightToPercent(57);
.hud-img {
	width: 100%;
	height: 100%;
	background: $bg;
	
	.speed {
    bottom: $hudBottom;
    top: auto;
    left: widthToPercent(96);
		width: widthToPercent(505);
		height: 100px;
    text-align: left;
    font-size: 30px;

    &:before {
    	content: "";
    	position: absolute;
    	bottom: 0;
    	width: 100%;
    	height: 26px;
    	background: url("../img/hud/speed-mark.png") no-repeat;
	    background-size: 100%;
    }

    span {
    	padding-right: 10px;
    	font-size: 50px;
    	display: inline;
    }

    i {
    	position: absolute;
			bottom: 34px;
			left: 0;
    	width: 58%;
    	height: 10px;
    	background: url("../img/hud/speed.jpg");
    	background-size: auto 100%;
    }
	}

	.center {
		position: absolute;
		left: 50%;
		bottom: $hudBottom;
		margin-left: - widthToPercent(402/2);
		width: widthToPercent(402);
		
		&	>	img {
			width: 100%;
		}
	}

	.direction {
		position: absolute;
		bottom: $hudBottom;
		right: widthToPercent(68);
		width: widthToPercent(516);
	}
}

.hud1-2 {
	&.active {
		.center {
			&:before {
				// animation: hud-arrow 1s 6;
			}
		}
	}

	.center {
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("../img/hud/hud1-2-center-road.png") no-repeat;
			background-size: 100%;
		}
	}
}

.hud2-1, .hud2-2 {

	.direction {
		right: 90px;
		width: widthToPercent(493);
		height: widthToPercent(239);
		background: url("../img/hud/hud2-11-direction.png") no-repeat;
		background-size: 100%;
		// animation: hud-change-o 12.5s infinite;
	}

	.address {
		position: absolute;
		left: - widthToPercent(46);
		top: - heightToPercent(50);
		bottom: 0;
		right: - heightToPercent(100);
		color: #fff;

		p {
			margin-right: widthToPercent(90);
			font-size: 26px;
			display: inline-block;

			&:nth-child(2) {
				margin-right: widthToPercent(110);
			}
			
			&:nth-child(4) {
				position: absolute;
				bottom: -12px;
				left: 80px; 
			}
		}
	}
}

.hud2-2 {
	.direction {
		width: widthToPercent(541);
		height: widthToPercent(173);
		background-image: url("../img/hud/hud2-21-direction.png");
		// animation-name: hud-change-t;
	}
}

.hud3-1, .hud5-1, .hud5-2 {
	.center {
		width: 100px;
		height: 131px;
		margin-left: -50px;
		background: url("../img/car/car1.png") no-repeat;
		background-size: 100%;
	}
}

.hud3-1 {
	.center {
		&.active {
			// animation: hud-loop 3s infinite;
		}
	}
}
.hud5-1 {
	.center {
		background-image: url("../img/car/car5.png");
		

		&.active {
			// animation: hud-loop-five 3s infinite;
		}
	}
}

.hud3-2 {
	.center {
		width: widthToPercent(901);
		margin-left: - widthToPercent(901/2);
	}
}

.hud4-1, .hud4-2 {
	&.active {
		.hud4-car {
			display: block;
		}		
	}

	.center {
		bottom: 92px;
		width: widthToPercent(402);
		margin-left: - widthToPercent(402/2);
	}

	.hud4-car {
		position: absolute;
		bottom: -25px;
		right: -50px;
		width: widthToPercent(92);
		display: none;
	}
}

.hud4-2 {
	&.active {
		.hud4-arrow {
			// animation: hud-four-arrow 2s infinite;
		}
	}

	.hud4-arrow {
		position: absolute;
		bottom: -25px;
		left: 100px;
		width: widthToPercent(414);
		height: 0;
		overflow: hidden;

		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: widthToPercent(219);
			background: url("../img/hud/hud4-arrow.png") no-repeat;
			background-size: 100%;
		}
	}
}

.hud5-1, .hud5-2 {
	.center {
		&:before {
			content: "R";
			position: absolute;
			top: 0;
	    left: -44px;
    	font-size: 44px;
			color: #fff;
			line-height: 1;
		}

		.hud5-arrow {
			position: absolute;
			bottom: 0;
			left: -80px;
			width: 24px;
			height: 30px;
			overflow: hidden;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 72px;
				height: 100%;
				background: url("../img/hud/hud5-arrow.png") no-repeat;
				background-size: 100%;
			}
		}
	}
}

.hud5-2 {
	&.active {
		.hud5-arrow {
			// animation: hud-five-arrow 1.5s infinite;
		}
	}
}
