@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

$minWidth: 320px; // 安全区大小
$headerH: 40px;
$marginBottom: 15px;

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

html, body {
	width: 100%;
	min-width: $minWidth;
	height: 100%;
	margin: 0 auto;
  background-color: white;
}

.container {
	
}

header {
	position: relative;
	height: $headerH;
	line-height: $headerH;
	text-align: center;
	border-bottom: 1px solid #ddd;

	&.active {
		display: none;
	}

	h1 {
		line-height: $headerH;
	}
}

.fullscreen {
	position: absolute;
	right: $marginBottom;
	top: 10px;
	line-height: ($headerH - 20px);
}

main {
	padding: $marginBottom;
}

.form {
	margin-bottom: $marginBottom;

	input {
		height: 30px;
		padding: 0 10px;
		margin-right: 15px;
	}
}

.log {
	h3 {

	}

	textarea {
		width: 100%;
		height: 300px;
	}
}