@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

$boardW: 1280px; // 848
$boardH: 530px; // 530
$hudW: 1280px;
$hudH: 334px;
$minW: 320px;

img {
	display: block;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
  background-color: #000;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

// 直接切换图片
.board {
	width: 100%;
	// height: 100%;
	max-width: $boardW;
	min-width: $minW;
	// max-height: $boardH;
	margin: 0 auto;
}

.hud {
	width: 100%;
	max-width: $hudW;
	min-width: $minW;
	margin: 0 auto;
	
	.home-screen {
		background-image: url("../img/hud/hud.jpg");
	}
}

// 轮播切换
.swiper-container {
	width: 100%;
	height: 100%;
}

// 待机画面
.home-screen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url("../img/board/board.jpg") no-repeat;
	background-size: 100%;
	z-index: 99;
	display: none;
}

// 开机动画
.boot-animation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 100;

	video {
		width: 100%;
		height: 100%;
	}
}

.board-img, .hud-img {
	position: relative;
	width: 100%;
	height: 100%;
	background: url("../img/board/board1-1.jpg") no-repeat;
	background-size: 100%;
}

// 速度
.speed {
	position: absolute;
	top: 40%;
	left: 10%;
	color: #fff;
  text-align: center;
  font-size: 26px;
  line-height: 1;

  span {
  	font-size: 60px;
  	display: block;
  }
}

// 歌名
.song {
	position: absolute;
	top: 6%;
	left: 10%;
	line-height: 1;
	font-size: 26px;
	color: #fff;
}

@for $i from 1 through 5 {
	.board#{$i}-1 {
		background-image: url("../img/board/board#{$i}-1.jpg");
	}

	.board#{$i}-2 {
		background-image: url("../img/board/board#{$i}-2.jpg");
	}
}

// hud 动画
.board4-1arrow {
	position: absolute;
	bottom: 27%;
  left: 42%;
  width: 33.6%;
	animation: board-arrow 1s infinite;
}


.board4-2arrow {
	position: absolute;
	bottom: 18.1%;
  left: 47%;
  width: 33.6%;
	animation: board-arrow 1s infinite;
}

.board5-2arrow {
	position: absolute;
	bottom: 18.6%;
  left: 24%;
  width: 229/848*1280 + px;
	animation: board-arrow 1s infinite;
}



@keyframes board-arrow {
	from {
		opacity: .5;
	}
	to {
		opacity: 1;
	}
}

@keyframes board-arrow-two {
	from {
		opacity: .5;
		// left: 47%;
	}
	to {
		opacity: 1;
		// left: 48%;
	}
}

// hud
$hudBottom: heightToPercent(57);
.hud-img {
	background: #000;
	
	.speed {
    bottom: $hudBottom;
    top: auto;
    left: widthToPercent(96);
		width: widthToPercent(505);
		height: 100px;
    text-align: left;

    &:before {
    	content: "";
    	position: absolute;
    	bottom: 0;
    	width: 100%;
    	height: 26px;
    	background: url("../img/hud/speed-mark.png") no-repeat;
	    background-size: 100%;
    }

    span {
    	font-size: 50px;
    	display: inline;
    }

    i {
    	position: absolute;
			bottom: 34px;
			left: 0;
    	width: 58%;
    	height: 10px;
    	background: url("../img/speed.jpg");
    	background-size: auto 100%;
    }
	}

	.center {
		position: absolute;
		left: 50%;
		bottom: $hudBottom;
		margin-left: - widthToPercent(402/2);
		width: widthToPercent(402);
		
		&	>	img {
			width: 100%;
		}
	}

	.direction {
		position: absolute;
		bottom: $hudBottom;
		right: widthToPercent(68);
		width: widthToPercent(541);
	}
}

.hud2-1, .hud2-2 {
	.direction {
		width: widthToPercent(493);
	}

	.address {
		position: absolute;
		left: - widthToPercent(46);
		top: - heightToPercent(50);
		bottom: 0;
		right: - heightToPercent(100);
		color: #fff;

		p {
			margin-right: widthToPercent(90);
			font-size: 26px;
			display: inline-block;

			&:nth-child(2) {
				margin-right: widthToPercent(110);
			}
			
			&:nth-child(4) {
				position: absolute;
				bottom: -12px;
				left: 80px; 
			}
		}
	}
}

.hud3-1 {
	.center {
		width: widthToPercent(190);
		margin-left: - widthToPercent(190/2);
	}
}

.hud3-2 {
	.center {
		width: widthToPercent(901);
		margin-left: - widthToPercent(901/2);
	}
}

.hud4-1, .hud4-2 {
	.center {
		width: widthToPercent(402);
		margin-left: - widthToPercent(402/2);
	}

	.hud4-animation {
		position: absolute;
		bottom: -25px;
		right: -50px;
		width: widthToPercent(92);
		animation: hud-arrow 1s ease-in-out infinite;
	}
}

.hud4-2 {
	.hud4-animation {
		right: -107px;
		bottom: - $hudBottom;
		width: widthToPercent(414);
	}
}

.hud4-animation {
	& > img {
		width: 100%;
	}
}

@keyframes hud-arrow {
	from {
		opacity: .5
	}
	to {
		opacity: 1;
		// bottom:  - heightToPercent(67);
	}
}

.hud5-1 {
	.center {
		width: widthToPercent(285);
		margin-left: - widthToPercent(285/2);
	}
}

.hud5-2 {
	.center {
		width: widthToPercent(290);
		margin-left: - widthToPercent(290/2);
	}
}